@font-face {
    font-family: "Saol Display Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/saol.eot");
    src: url("../fonts/saol.eot?#iefix") format("embedded-opentype"),
      url("../fonts/saol.woff2") format("woff2"),
      url("../fonts/saol.woff") format("woff"),
      url("../fonts/saol.ttf") format("truetype");
    font-display: swap;
  }