#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--white);
    border-top: 1px solid var(--dark_border);
    display: flex;
    background-color: var(--dark_bg);
    align-items: center;
    font-family: "Rajdhani";
    div {
        text-align: center;
        padding: 1.45rem;

        a {
            padding: 0 0.6em;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0.6rem;
                bottom: 0;
                width: calc(100% - 1.2rem) ;
                height: 1px;
                background: var(--white);
                transform: scaleX(0);
                transition: all 0.3s ease;
            }
            &:hover::before {
                transform: scaleX(1);
            }
        }
    }
    h4, ul {
        display: inline-block;
    }
    h4 {
        font-weight: 600;
        padding: 0 0.6em;
        text-transform: capitalize;
    }
    div:nth-child(1) {
        flex: 1 1 25%;
        border-right: 1px solid var(--dark_border);
    }
    div:nth-child(2) {
        flex: 1 1 20%;
        border-right: 1px solid var(--dark_border);
    }
    div:nth-child(3) {
        flex: 1 1 55%;
        li {
            display: inline;
            a{
                display: inline-block;
                padding: 0 0.6em;
            }
        }
    }
}

#footer.light {
    background-color: var(--light_bg);
    border-top-color: 1px solid var(--light_border);

    h4 {
        color: var(--black);
    }

    a {
        color: var(--black);

        &::before {
            background: var(--black);
        }
    }
    div {
        border-right: 1px solid var(--light_border);
    }
}

@media (max-width:1010px){
    #footer {
        div:nth-child(1){
            h4{
                display: none;
            }
        }
        div:nth-child(2) {display: none;}
        div:nth-child(3) {display: none;}
    }
}